<table style="width:100% ;background-image: linear-gradient(white,orange,white,green,white);">
  <tr>
   <td style="width:40%">
    <table style="width:100%;height:700px;background-color: aliceblue;">
      <thead style="height: 45px;">
        <tr style="height: 20px;background-color:#eee;">
          <td></td>
          <td>
            <tr>
            <td >
            <button style="width:100%;text-align: center;background-color: transparent;border-width: thin; border-color: grey;">
              search user
            </button>
            </td>
            <td style="max-width: 192;" >
              <input type="text" placeholder="Tarun..." style="width:100%" (input)="search($event.target)">
            </td>
          </tr>
          </td>
        </tr>
      </thead>
      <tbody style="height: 600px;">
        <tr><td></td><td style="width: 700px;">
      <ng-container  *ngIf="searchResults">
        <ng-container *ngFor="let user of searchResults">
      <br>
      <tr type="button" style="border:solid;height: 50px; background-color:#eee;width: 100%;text-align: -webkit-center;" (click)="createChat(user)" >
        <td style="text-align: center;width: 700px;">{{user.firstName}} {{user.lastName}}</td>
        <!-- <td>{{user.email}}</td> -->
      </tr>
      <br>
      </ng-container>
      </ng-container>
      <ng-container  *ngIf="!searchResults||searchResults.length<1">
        <tr >
        <td></td>
        <td style="text-align: center;width: 700px;">No results to show !</td>
        </tr>
        </ng-container>
    </td>

      </tr></tbody>
      </table>
  </td>
  <td style="width: 50%;">
    <app-chat [chatRoom]="chatRoom"></app-chat>
  </td>
</tr>
</table>


<!-- userId": "2c2ffb82-2bec-4409-8f16-5ee1daa3d82d",
  "firstName": "Tarun",
   "lastName": "Sharma",
  "email": "tarun.sharma@chicmic.co.in -->
